/*
ruby {display: inline-flex;flex-direction: column-reverse;text-align: center;}
ruby > rb,ruby > rt {display: inline;line-height: 1.2;}
ruby > rt {font-size:66%;}
*/

ruby rt {font-size:62.5%;margin:0;line-height:80%;}

@media screen and (min-width: 790px) {
ruby { display: inline-table; text-align: center; white-space: nowrap; text-indent: 0; margin: 0; vertical-align: text-bottom; }
ruby > rb, ruby > rbc { display: table-row-group; }
ruby > rt, ruby > rbc + rtc { display: table-header-group; font-size: 60%; line-height: 100%; letter-spacing: 0;text-align:center; }
ruby > rbc + rtc + rtc { display: table-footer-group; font-size: 60%; line-height: 90%; letter-spacing: 0; }
rtc > rt[rbspan] { display: table-caption; }
rp { display: none; }
}

table.song{
	border:1px solid #000000;
	padding:0px;margin:0px auto;
}
td.name{
	padding:10px;margin:0px auto;
	border-bottom:1px solid #000000;
}
td.video{
	padding:0px;margin:0px auto;
	border-bottom:1px solid #000000;
}
div#limit{
	padding:0px;margin:0px auto;
	width:60vw;height:calc((60vw*9)/16);
	overflow: hidden;
}
#limit iframe{
	width: 100%;
	height: 100%;
}
td.ly{
	font-size:25px;
	text-align:center;
	padding:10px;margin:0px auto;
	border-bottom:1px solid #000000;
}
td.lyc{
	padding:0px;margin:0px auto;
}
/*------------------------------------------------------*/
ul{
	padding:0px;margin:0px auto;
}
li{
	width:100%;height:5vh;
	list-style-type:none;
	text-indent:3em;
}
li.line{
	border-top:1px dashed black;
}
